<div class="lifestyle bg-light">
  <div class="container pt-5 pb-5 life-container">
    <div class="row">
      <div class="heading col text-center">
        <h1 class="orange m-auto mb-0"><b class="display-1"> RECENT BLOG        </b> </h1>
        <p class="text-center pt-5 pb-5 m-auto">
          Even the all-powerful Pointing has no control about the blind texts<br>
          it is an almost unorthographic life One day however a small line of<br>
          blind text by the name
        </p>
        </div>
    </div>
    <div class="row text-dark">
      <div class="col">
        <img src="assets/images/04.jpg" class="img-fluid" alt="Cinque Terre">
        <p class="orange mb-0">Posted by: Noah Henderson</p>       
         <h4 class="coffee">  Need workout motivation?</h4>
        <p> Even the all-powerful Pointing has no control about
          the blind texts it is an almost unorthographic life</p>
      </div>
      <div class="col">
        <img src="assets/images/04.jpg" class="img-fluid" alt="Cinque Terre">
        <p class="orange mb-0">Posted by: Noah Henderson</p>       
         <h4 class="coffee">  Need workout motivation?</h4>
        <p> Even the all-powerful Pointing has no control about
          the blind texts it is an almost unorthographic life</p>
      </div>
      <div class="col">
        <img src="assets/images/04.jpg" class="img-fluid" alt="Cinque Terre">
        <p class="orange mb-0">Posted by: Noah Henderson</p>       
         <h4 class="coffee">  Need workout motivation?</h4>
        <p> Even the all-powerful Pointing has no control about
          the blind texts it is an almost unorthographic life</p>
      </div>
    </div>
  </div>
</div>
