<div class="row  text-center text-dark">

  <div class="col-7 right-images  p-0">
    <img src="assets/images/result2.png" class="img-fluid border-0 p-0" alt="Cinque Terre">
  </div>
  <div class="col-5 small-images">
    <div class="row ">
      <div class="col  p-0">
        <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
      </div>
      <div class="col p-0">
        <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
      </div>
    </div>
    <div class="row">
      <div class="col  p-0">
        <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
      </div>
      <div class="col p-0">
        <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
      </div>
    </div>
  </div>
</div>