<div class="lifestyle">
  <div class="container pt-5 pb-5 life-container">
    <div class="row">
      <div class="col heading">
        <h1 class="orange mb-0 text-center display-1 "><b><i>OUR EXPERIENCED <br> TRAINERS</i>  </b></h1>
        <p class="text-center pt-5 pb-5 m-auto">
          Even the all-powerful Pointing has no control about the blind texts<br>
          it is an almost unorthographic life One day however a small line of<br>
          blind text by the name
        </p>
      </div>
    </div>
    <div class="row  text-center text-dark">
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer02.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer03.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer04.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
    </div>
    <div class="row  text-center text-dark">
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer02.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer03.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer04.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="img-fluid" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
    </div>
  </div>
</div>
