<div class="lifestyle">
  <div class="container pt-5 pb-5 life-container">
    <div class="row">
      <div class="heading">
        <h2 class="orange mb-0"><b><i>GET IN YOUR</i></b></h2>
        <h1 class="orange mb-0"><b class="display-1 yellow">LIFE</b><b class="display-1 "> SHAPE</b> IN TEN WEEKS <i class="display-1">!</i>
        </h1>
        <h4><b><i>INFLUENCERS</i></b></h4>
      </div>
    </div>
    <div class="row  text-center text-dark">
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="rounded-circle" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer02.jpg" class="rounded-circle" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer03.jpg" class="rounded-circle" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer04.jpg" class="rounded-circle" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
      <div class="col">
        <img src="assets/images/trainer01.jpg" class="rounded-circle" alt="Cinque Terre">
        <h4>HDMSMN</h4>
        <p>Esdmann</p>
      </div>
    </div>
  </div>
</div>