<div class="banner-section">
    <app-header></app-header>
    <div class="container">
      <h1 class="display-1  text-italic text-light text-uppercase"><b>This is a <span class="yellow">life</span><span class="orange">style</span></b></h1>
      <h3 class="text-right display-5 text-light text-uppercase"><b><i class=" display-4 fa fa-play-circle-o" aria-hidden="true"></i> There is no finish line </b></h3>
      <p class="text-right mt-3"><a  class="btn btn-baner" href="#">KNOW MORE</a></p>
    </div>
</div>
