img{
  border-radius: 0;
}
.lifestyle{
    padding: 3rem 1em 0;
}
.life-container{
    position: relative;
}

.small-images{
    padding-top: 189px;
    z-index: 10;
}

.right-images img{
    width: 100%;
  }