<div class="lifestyle bg-light">
  <div class="container pt-5 pb-5 life-container">
    <div class="row">
      <div class="heading">
        <h1 class="orange mb-0"><b class="display-1"> THE SUCCESS STORIES</b> </h1>
        <h2 class="orange mb-0"><b><i> OF OUR MEMBERS!</i></b></h2>
        <h2 class="coffee mb-0"><b><i> SEE THE RESULTS!</i></b></h2>         
      </div>
    </div>
  </div>
  <div class="row  text-center text-dark">
    <div class="col-5 small-images ">
      <div class="row ">
        <div class="col  p-0">
          <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
        </div>
        <div class="col p-0">
          <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
        </div>
      </div>
      <div class="row">
        <div class="col  p-0">
          <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
        </div>
        <div class="col p-0">
          <img src="assets/images/result1.jpg" class="img-fluid border-0  p-0" alt="Cinque Terre">
        </div>
      </div>
    </div>
    <div class="col-7 right-images  p-0">
      <img src="assets/images/result-small1.png" class="img-fluid border-0 p-0" alt="Cinque Terre">
    </div>
  </div>
  <app-stories-two></app-stories-two>
</div>
