<div class="countdown-section">
  <div class="container">
    <div class="row ">
      <div class="col-12 text-right">
        <a href="#" class="m-auto border-0"><img  alt="logo" src="/assets/images/logo.png"></a>
      </div>
    </div>
    <div class="row inner text-light">
      <h1 class="col-12 mb-4 text-center">EVENT START IN </h1>
      <div class="col-3">
        <div class="m-auto">
          <p>DAYS</p>
          <h1>02</h1>
        </div>
      </div>
      <div class="col-3">
        <div class="m-auto">
          <p>HOURS</p>
          <h1>12</h1>
        </div>
      </div>
      <div class="col-3">
        <div class="m-auto">
          <p>MINUTES</p>
          <h1>30</h1>
        </div>
      </div>
      <div class="col-3">
        <div class="m-auto">
          <p>SECONDS</p>
          <h1>50</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PACKAGES
SINGEL & DUO -->
